---
layout: default
title: Long Beach Women in Tech 
---

    {% include navigation.html %}
    {% include subpage-header.html %}


    <div class="home-pg">
    	<div class="whatcanwedo">
    		<h2>What can LBWT do for you?</h2>
            <div class="whatcanwedogrid">
                <div class="grid-item" >
                    <i class="fas fa-globe"></i>
                    <h3>Resources</h3>
                </div>
                <div class="grid-item">
                    <i class="far fa-smile-beam"></i>
                    <h3>Fun</h3>
                    
                </div>
                <div class="grid-item">
                    <i class="fas fa-fire"></i>
                    <h3>Inspiration</h3>
                </div>
                <div class="grid-item">
                    <i class="fas fa-info-circle"></i>
                    <h3>More</h3>
                </div>
                
            </div>

    		
    	</div>
    	<div class="spotlight">
    		<h2>Spotlight Member</h2>
    		<div>
                <div class="id-parent">
                    <img src="assets/images/michelle.jpg" alt="">
                    <div class="spotlight-id">
                        <h3>
                           Michelle Tyler 
                        </h3>
                        <p id="person-title">
                            Backend Developer/ <br>Co-founder
                        </p>
                    </div>
                    
                </div>
    			

    			<p>Michelle is one of the Co-founders of LBWT. After moving to Long Beach she noticed a need in the community for women in tech. Women needed a space to network and learn from each other. This year she has organized both social and professional workshops. One of the most popular workshops being the Interview prep series.</p>
    		</div>
    		<p></p>

    		
    	</div>
    	
    </div>