<!-- Mobile Version -->

<div class="pos-f-t">
        <nav class="navbar navbar-dark bg-light">
        <button class="navbar-toggler"  style="color: $lbwtcolor;" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" ></span>
        </button>
    
</nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-light p-3">
            <h5 style="color: $lbwtcolor;">Long Beach Women in Tech</h5>
            <div >
        <ul class="navList">
            <li><a href="./index.html">Home</a></li> 
          <li><a href="./about.html">About</a></li>
          <li><a href="./resources.html">Resources</a></li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./subscribe.html">Subscribe</a></li>
        </ul>
      </div>
          </div>
        </div>

</div>

    <!-- Desktop Version -->
