body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  color: #6200EA;
  background-color: white;


}

a {
  color: #0366d6;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.resource-main {
    display: block;
    height: 50vh;
    width: 100%;
    position: relative;
}

.resource-main-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    padding-left: 1em;
}

.resource-main-content h2 {
    font-size: 2em;
    font-weight: bold;
}

.resource-new-tech {
    background: url("/assets/images/baby-chickens.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.resource-advanced-tech {
    background: url("/assets/images/adult-chicken.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

code,
pre {
  font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0.25em
}

.resource-grid {
    border: 2px blue solid;
    height: 500px;
    width: 100%;
    max-width: 400px;
    display:grid;
    grid-template: 1fr 1fr 1fr 1fr / 50% 50%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

// grid 2x2
.resource-item1 {
    grid-area: 1 / 1 / span 1 / span 1;
}

.resource-item2 {
    grid-area: 1 / 2 / span 1 / span 1;
}

.resource-item3 {
    grid-area: 2 / 1 / span 1 / span 1;
}

.resource-item4 {
    grid-area: 2 / 2 / span 1 / span 1;
}

@media only screen and (min-width: 768px) {
    body{
        background: CornflowerBlue;
    }
    .resource-main-content{
        padding-left: 5em;
    }
    
    .resource-main-content h2 {
        font-size: 3em;
        font-weight: bold;
    }
    
    .resource-main-content p {
        font-size: 1.5em;
    }
}

.home-pg p{
    color: black;
}



.home-pg h2, .spotlight h2{
  font-size: 2em;  
  background: -webkit-linear-gradient(#6948e9, #a052f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
} 

.whatcanwedo{
    padding: 10% 5%;
}

.whatcanwedogrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
  margin: 10% 0;

}

.whatcanwedogrid .grid-item h3{
    font-size: 1em;
    margin-top: 1em;
    color: #0000008f;

}

.whatcanwedogrid .grid-item {
  justify-self: center;
  text-align: center;
}

.whatcanwedogrid .grid-item i{
    font-size: 4em;
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.29);
     border-radius: 50%;
    border: 1x solid grey;
    padding:10px;
    color: white;
     background:  #6200EA;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 90px;
    vertical-align: middle;
    padding: 5px;

}

.home-pg .spotlight{
    background: #0000001a;
}

.home-pg .spotlight h2, .home-pg .spotlight p{
   
    // padding-left: 5%;
    // padding-top: 10%;
    padding: 10% 5%;
}








// Navigation
.navList{
    ul{
        list-style: none;
        color: black;
    }
}